nrf52832_dfu/_build/
nrf52832_dfu/.settings/language.settings.xml
sdk/nRF5_SDK_17.0.2_d674dde/
nrf52832_dfu/tools/app_dfu_package.zip
nrf52832_dfu/tools/nrf52832_fw.hex
nrf52832_dfu/tools/private.key
